body{
    background-color: #f5f5f5;
}

#link:hover{
    color: gray;
}
#link{
    color: white;
}

nav li{
    font-size: 15px;
}

#baslik{
    text-align: center;
}

#altbaslik {
    text-align: left;
    margin-top: 5%;
    margin-left: 1%;
}

.form-signin{
    margin-top:12%;
}
