#link:hover{
    color: gray;
}
#link{
    color: white;
}

nav li{
    font-size: 15px;
}

#baslik{
    text-align: center;
}

#altbaslik {
    text-align: left;
    margin-top: 5%;
    margin-left: 1%;
}

/*body{
    background-image: linear-gradient(#f5f7fa,#d4d6dd);
}*/